services:
  - type: web
    name: dah
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: VK_TOKEN
        sync: false
      - key: VK_API_VERSION
        value: 5.199
      - key: IMGBB_API_KEY
        sync: false
      - key: FLIBUSTA_PROXY_URL
        value: https://flibusta-proxy.alphy-flibusta.workers.dev
      - key: ZLIBRARY_ACCOUNT_POOL
        value: zlib.alphy@mail.ru,nanohit.docker@nutritionxtreme.com,nanohit.docker1@nutritionxtreme.com,nanohit.docker2@nutritionxtreme.com,nanohit.docker3@nutritionxtreme.com,nanohit.docker4@nutritionxtreme.com,nanohit.docker5@nutritionxtreme.com,nanohit.docker6@nutritionxtreme.com,nanohit.docker7@nutritionxtreme.com,nanohit.docker8@nutritionxtreme.com,nanohit.docker9@nutritionxtreme.com,nanohit.docker10@willeloof.com,nanohit.docker11@willeloof.com,nanohit.docker12@willeloof.com,nanohit.docker13@willeloof.com,nanohit.docker14@willeloof.com,nanohit.docker15@willeloof.com,nanohit.docker16@willeloof.com,nanohit.docker17@willeloof.com,nanohit.docker18@willeloof.com,nanohit.docker19@willeloof.com
    healthCheckPath: /api/auth/test 